html {
    height: 100%;
    min-height: 900px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient( to top, rgba(0, 0, 30, 100), rgba(0, 0, 255, 100));
    background: -moz-linear-gradient( to top, rgba(0, 0, 30, 100), rgba(0, 0, 255, 100));
    background: -ms-linear-gradient( to top, rgba(0, 0, 30, 100), rgba(0, 0, 255, 100));
    background: -o-linear-gradient( to top, rgba(0, 0, 30, 100), rgba(0, 0, 255, 100));
    background: linear-gradient(to top, rgba(0, 0, 30, 100), rgba(0, 0, 255, 100));
    font-family: SansSerif, sans-serif;
}

h1 {
    font-style: italic;
    color: white;
    text-shadow: 3px 3px black;
}

h1.top {
    text-align: left;
    padding: 0 0 0 20px;
}

div.grey-box {
    background-color: #aaaaaa;
    border-color: white;
    border-style: outset;
}

div.grey-box.main-box {
    width: 900px;
    height: 600px;
    margin: 5% 0 0 15%;
    box-shadow: 5px 5px 5px 5px black;
}

div.blue-box {
    min-width: 95%;
    height: 5%;
    margin: 5px 3px 0 5px;
    background-color: #454aff;
}

div.button {
    width: 18px;
    height: 18px;
    border-color: white;
    border-style: outset;
}

div.right {
    float: right;
    margin: 3px 0.5% 0 0;
}

.button-text {
    text-align: left;
    font-size: 16px;
    display: inline-block;
}

input.xbtn {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 15px;
    padding: 1px 1px 0 0;
}